{% extends 'zzz/main.html' %}
{% block main_section %}
    <h2>Расскажем немного о параде</h2>
    <p>И покажем фоточки</p>
    <p><img src="http://cdn.iportal.ru/preview/news/articles/db7b211657cc33f2b7d3ffbdd9c4a7f802a933ea_727_485_c.jpeg" height="400"></p>
{% endblock main_section %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h2>Расскажем немного о параде</h2>
    <p>И покажем фотки парада</p>
</body>
</html>